html,body{
	width: 100%;
	height: 100%;
	overflow-y:visible;
}

.principal-body-volver a:hover{
	text-decoration: none; /* no underline */
	color:#f44336;
	font-weight: bold;
}

#myCarousel{
	width: 100%;
	margin: 0px;
}

.carousel-inner{
	height: 100%;
}

.carousel-indicators{
	left: 30%;
	margin-bottom: 1%;
	bottom: 0;
	padding: 5%;
}


.carousel-indicators li{
	background-color: white;
	border: none;
	font-size: 40px;
	width: 2%;
    height: 2%;
}

.carousel-indicators .active {
	width: 2%;
    height: 2%;
    background-color: #e70025;
}

@media only screen and (max-width: 767px) {
	
	.title{
		height: 20%;
	}

	.logo-container{
		width: 100%;
		background-image:url('../images/logoPortada.png');
		background-size: 100% 190px; 
		background-repeat: no-repeat;
		height: 190px;
		z-index: 10;
	}
	
	.picture_row{
		position: relative;
		width: 100%;
		height: 460px;
		margin:0;
	}

	#principal-calidad{
		padding: 0;
	}
	
	.calidad-container-title{
		right:0;
		position: absolute;
		z-index: 2;
		top: 190px;
		padding: 0;
		margin:0;
		color: white;
		font-size: 50px;
		font-family: 'Malbeck-Regular';
		padding-left:10px;
	}
	
	.carousel-inner > .item{
	   width:100%;
	   height: 450px;
	}
	
	.carousel-inner > .item > img{
	   width:100%;
	   height: 450px;
	}
	
	.principal-body-slider{
		position: absolute; /* Stay in place */
	    z-index: 0; /* Sit on top */
	    width: 100%; /* Full width */
	    overflow: auto; /* Enable scroll if needed */
	    top: 150px;  /* position the top  edge of the element at the middle of the parent */
		margin:0;
		padding:0;
		left: 15px;

	}
	.principal-body-volver{
		padding-top: 130px;
		text-align: center;
	}
	.principal-body-volver a{
		color: #e70025;
		font-family: 'cabana';
		font-size: 40px;
		cursor: pointer;
	}
}

@media only screen and (min-width : 768px){
	
	body{
		overflow: hidden;
	}

	.row{
		height: 100%;
		margin: 0;
	}
	
	.principal-body{
		position: relative;
		margin-right: auto;
		margin-left: auto;

		height: 94%;
	}
	
	#principal-calidad{
		padding:0;
	}
	
	.logo-container{
		position: absolute;
		left: 77%;
		top: 4%;
		z-index: 1;
		background-image:url('../images/logoPortada.jpg');
		background-position: center;
		background-size: 100% 100%;
		height: 12%;
		width: 15%; /* Full width */
	}
	
	/*Floating container*/
	.principal-body-calidad{
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgba(245,154,55,1);
	}
	
	.principal-body-calidad h1{
		color: white;
		margin: 8% 0 0 19%;
		font-family: 'Malbeck-Regular';
		font-size: 80px;
	}
	
	.principal-body-volver{
		height: 100%;
		position: relative;
	}

	.principal-body-volver a{
		position: absolute;
		bottom: 3%;
		right: 40%;
		z-index: 1000;
		color: #e70025;
		font-family: 'cabana';
		font-size: 50px;
		cursor: pointer;
	}

	.carousel-inner > .item{
	   width:100%;
	   height:100%;
	}
	
	.carousel-inner > .item > img{
	   width:100%;
	   height:100%;
	}
	
	.principal-body-slider{
		position: absolute; /* Stay in place */
	    z-index: 100; /* Sit on top */
	    width: 85%; /* Full width */
	    height: 70%; /* Full height */
	    top: 17%;  /* position the top  edge of the element at the middle of the parent */
    	left: 8%; /* position the left edge of the element at the middle of the parent */

	}

}