html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.row{
	height: 100%;
	margin: 0px;
}

.principal-body{
	position: relative;
	margin-right: auto;
    margin-left: auto;
    padding:0px;
    height: 95%;
}

/*Floating container*/
.principal-body-calidad{
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(245,154,55,1);
}

.principal-body-calidad h1{
	color: white;
	padding: 25px 0px 0px 50px;
	font-family: 'awesome';
	font-size: 32px;
}

.principal-body-volver{
	height: 100%;
	position: relative;
}

.principal-body-volver a{
	position: absolute;
	bottom: 25px;
	right: 0;
	z-index: 1000;
	color: #e70025;
	font-family: 'cabana';
	font-size: 36px;
	cursor: pointer;
	padding: 40px 20px 40px 0px;
}

.principal-body-volver a:hover{
	text-decoration: none; /* no underline */
	color:#f44336;
	font-weight: bold;
}

.principal-body-slider{
	position: absolute; /* Stay in place */
    z-index: 100; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding: 45px 50px 100px 50px;
    left: 0;
    top: 0;
}



#myCarousel{
	height: 100%;
	margin: 0px;
}

.carousel-inner{
	height: 100%;

}

.carousel-indicators{
	left: 30%;
	margin-bottom: 5px;
	bottom: 0px;
	padding: 20px;
}

img{
	width: 100%;
}

.carousel-indicators li{
	background-color: white;
	border: none;
	font-size: 40px;
	width: 15px;
    height: 15px;
}

.carousel-indicators .active {
	width: 15px;
    height: 15px;
    background-color: #e70025;
}

.carousel-inner > .item > img{
   width:100%;
   height:450px;
}

@media only screen and (min-width : 768px){

	.principal-body-calidad h1{
		color: white;
		padding: 25px 0px 0px 50px;
		font-family: 'awesome';
		font-size: 42px;
	}

	.principal-body-volver a{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1000;
		color: #e70025;
		font-family: 'cabana';
		font-size: 42px;
		padding: 80px 50px 40px 0px;
		cursor: pointer;
	}

	.principal-body-slider{
		position: absolute; /* Stay in place */
	    z-index: 100; /* Sit on top */
	    width: 100%; /* Full width */
	    height: 100%; /* Full height */
	    overflow: auto; /* Enable scroll if needed */
	    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    	left: 50%; /* position the left edge of the element at the middle of the parent */
    	transform: translate(-50%, -50%);
	}

}