html,body{
    width: 100%;
    height: 100%;
    overflow-x: visible;
    overflow-y: visible; 
}

.logo-container{
    height: 40%;
}

.row{
    height: 100%;
}

.principal-body{
    padding: 0px 15px;
    height: 85%;
}

.principal-body-institucional{
    height: 100%;
    background-image:url('../images/institucional.jpg');
    background-position: center;
    background-size: cover; 
}

.principal-body-institucional-btns{
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 15%;
}

.principal-body-noticias,.principal-body-calidad{
    height: 50%;
}

.principal-body-noticias{
    background-image:url('../images/noticias.jpg');
    background-size: cover;
    background-position: center;
}

.principal-body-calidad{
    background-image:url('../images/calidad.jpg');
    background-size: cover;
    background-position: center;
}

.btn-mision,.btn-vision,.btn-historia{
    width: 150px;
    margin: 5px;
    height: 50px;
}

.modal-lg{
    width: 500px;
}

@media only screen and (min-width : 768px){

    html,body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden; 
    }

    .principal-body{
        padding-left: 15px;
        padding-right: 15px;
        height: 95%;
    }

    .principal-body-institucional,.principal-body-noticias,.principal-body-calidad{
        height: 100%;
    }

    .principal-body-noticias{
        position: relative;
    }

    .logo-floating{
        position: absolute;
        background-image:url('../images/logoPortada.png');
        background-size: 100% 100%; 
        height: 35%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .principal-body-noticias, .principal-body-calidad{
        background-size: 100% 100%; 
    }

    .btn-mision,.btn-vision,.btn-historia{
        width: 150px;
        margin: 20px;
    }

    .btn-custom{
        width: 150px;
        height: 55px;
        padding-top: 5px;
        padding-bottom: 0px;
    }

    .principal-body-institucional{
        height: 100%;
        background-image:url('../images/institucional_web.png');
        background-position: center;
        background-size: cover; 
    }

    .principal-body-institucional-btns{
        height: 100%;
        padding-bottom: 20%;
    }

}