html,body{
    width: 100%;
    height: 100%;
    overflow-x: visible;
    overflow-y: visible; 
}

.row{
    height: 100%;
}

.principal-body{
    padding: 0px 15px;
    height: 85%;
}

.principal-body-institucional{
    height: 100%;
    background-image:url('../images/institucional.jpg');
    background-position: center;
    background-size: cover; 
}

.principal-body-institucional-btns{
    height: 65%;
    margin-top: 150px;
    padding: 25px 70px 20px 70px;
}

.principal-body-noticias,.principal-body-calidad{
    height: 50%;
}

.principal-body-noticias{
    background-image:url('../images/noticias.jpg');
    background-size: cover;
    background-position: center;
}

.principal-body-calidad{
    background-image:url('../images/calidad.jpg');
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width : 768px){

    html,body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden; 
    }

    .principal-body{
        padding-left: 15px;
        padding-right: 15px;
        height: 95%;
    }

    .principal-body-institucional,.principal-body-noticias,.principal-body-calidad{
        height: 100%;
    }

    .principal-body-noticias{
        position: relative;
    }

    .logo-floating{
        position: absolute;
        background-image:url('../images/logoPortada.png');
        background-size: 100% 100%; 
        height: 35%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .principal-body-noticias, .principal-body-calidad{
        background-size: 100% 100%; 
    }

    .logo-container{

    }

}