.procesados-main{
		height: 100%;
	}

.principal-body{
		margin-right: auto;
		margin-left: auto;
		height: 85%;
		position: relative;
	}

.product-description{
	width: 100%;
	padding: 0;
}

#scrollUp-active{
	visibility: hidden;
}

img{
	display: inline-block;
	vertical-align: middle;
	max-height: 100%;
	max-width: 100%;
}

	
@media(max-width: 767px) {
html,body{
	width: 100%;
	height: 100%;
}
	/* Text link style */
	#scrollUp {
		bottom: 20px;
		right: 20px;
		font-family: 'cabana';
		font-size: 25px;
		color: #E70025;
	}
	.principal-body-procesados{
		height: 100%;
		background-image:url('../images/harina.png');
		background-position: center 100%;
		background-size: 150% 60%; 
	}

	.logo-container{
		width: 100%;
		background-image:url('../images/logoPortada.png');
		background-size: 100% 100%; 
		height: 50%;
	}


	/*Bootstrap overrides*/
	.picture_row{
		width: 100%;
		height: 70%;
	}


	.btn-custom{
		margin: 3% 0 2% 0;
		height: 60px;
		font-size: 35px;
		padding: 10px 15px;
	}

	.location-input{
		background-color: #F6A1AF;
		height: 60%;
		box-shadow: -1px -1px black;
	}

	.description{
		margin-top: 40px;
	}

	.title{
		margin: 0 0 5px 10px;
		font-family: 'awesome';
		color: #e70025;
		font-size: 40px;
	}

	.description-info{
		font-size: 18px;
		margin: 0 20px 0 20px;
	}

	.product-list{
		margin-top: 30px;
	}

	.subtitle{
		margin-left: 20px;
		font-family: 'cabana';
		font-size: 50px;
		color: #E70025;
	}

	.image-pic{
		display: block;
		margin: auto;
		height: 180px;
	}

	.image-title{
		font-family: 'cabana';
		font-size: 28px;
		color: #E70025;
	}
}

@media(min-width: 768px){
html,body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
	.row-floating{
		position: absolute; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		height: 400px;
		width: 33%; /* Full width */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgba(242, 128, 0, 0.7);
	}
	.principal-body-procesados{
		background-image:url('../images/harina.png');
		background-position: center;
		background-size : cover;
		height: 400px;
	}
	.principal-body-procesados-corner{
		background-image:url('../images/harinas.png');
		background-position: center;
		height: 400px;
		background-size: 100% 130%; 
	}
	.institucional-container{
		height: 60%;
		padding: 120px 80px 20px 80px;
	}
	.title{
		margin: 40px 0 0 0;
		font-family: 'awesome';
		color: #e70025;
		font-size: 55px;
		text-align: center;
	}
	.description-info{
		font-size: 25px;
		margin: 0 100px 0 100px;
		text-align: center;
	}
	.btn-custom{
		border: 2px solid rgba(255,255,255,0.8);
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 35px;
		text-shadow: 1px 2px black;
		background-color: transparent;
		padding: 15px 2px;
		width: auto;
		height: 75px;
		color: white;
		font-family: 'awesome';
		box-shadow: 0 8px 16px 0 rgba(0,0,00,0.25), 0 6px 20px 0 rgba(0,0,0,0.25);
	}
	.logo-container{
		position: absolute;
		right: 30px;
		top: 20px;
		z-index: 1;
		background-image:url('../images/logoPortada.png');
		background-position: center;
		background-size: cover;
		height: 100px;
		width: 15%; /* Full width */
	}
	.product-list{
		margin-top: 50px;
		width: 100%;
	}
	.subtitle{
		text-align: center;
		font-family: 'cabana';
		font-size: 56px;
		color: #E70025;
	}
	.image-pic{
		display: block;
		margin: auto;
		width: 100%;
		height: 280px;
	}

	.image-title{
		font-family: 'cabana';
		font-size: 36px;
		color: #E70025;
	}
}

