@media(max-width: 767px) {

	.principal-body-procesados{
		background-image:url('../images/harina.png');
		background-size: 160% 70%; 
	}

	#title_free{
		margin: 0 0 0 10px;
		font-family: 'Malbeck-Regular';
		color: #e70025;
		font-size: 40px;
	}
	
	.logo-container{
		background-image:url('../images/logoPortada.png');
	}

}

@media(min-width: 768px){

	.principal-body-procesados-corner {
    	background-image: url('../images/harina.png');
	}
	
	.principal-body-procesados-corner-free{
		background-image:url('../images/harinas.png');
		background-position: center;
		height: 100%;
		background-size: 100% 130%; 
	}

	.principal-body-procesados{
		background-image:url('../images/harina.png');
	}
	
	#harina-free{
		font-size: 36px;
	}
	
}

