html,body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: visible; 
}

.principal-body{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	height: 85%;
}


.btn-custom{
	font-size: 32px;
	padding: 0px;
	text-shadow:none;
	width: 80px;
	height: 50px;
	margin: 10px;
}

.subtitle{
	margin-bottom: -5px;
	font-family: 'cabana';
	font-size: 50px;
	color: #E70025;
}

	
#video-container{
	margin-top: 45%;
	margin-left: 5%;
	width: 90%;
	height: 40%;
}


.historia-logo{
	position: absolute;
	top: 0;
	left: 0;
    background-image: url('../images/logoPortada.png');
    background-size: 100% 100%;
    height: 40%;
    width: 100%;
    z-index: 1; /* Sit on top */

}

.historia-body{
	height: 80%;
    margin-top: 30%;
}

.historia-title{
	padding: 0;
	font-family: 'Malbeck-Regular';
	color: #e70025;
	font-size: 60px;
}

.historia-subtitle{
	font-family: 'cabanna';
	font-family: 'cabana';
	font-size: 80px;
	color: #E70025;
	width: 100%;
}

.historia-content{
	position: relative;
	padding: 0px 20px;
	padding-top: 40px;
	height: 110%;
}

.historia-active{
	display: block;
}

.historia-desactive{
	display: none;
}

.historia-gallery{
	background-image: url("../images/historia/Foto1.jpg");
	background-position: center;
	height: 80%;
	background-size: cover;
	background-repeat: no-repeat;
}

.institucional-container{
	height: 100%;
}

.historia-next{
    right: 45%;
	position: absolute;
	width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 30px solid #f07d1d;
    cursor: pointer;
}

.row{
	height: 100%;
}

.historia-back{
	color: #e70025;
    font-family: 'cabana';
    font-size: 50px;
    position: absolute;
    right: 20px
}

.historia-back:hover{
	text-decoration: none; /* no underline */
	color:#f44336;
	font-weight: bold;
}

.historia-aside-mobil{
	height: 20%;
    overflow: auto;
    background-color: #f07d1d;
}

@media only screen and (max-height: 500px){
	.historia-body{
		margin-top: 25%;
	}
}

@media only screen and (min-width : 768px){

	#video-container{
		margin-top: 5%;
		margin-left: 10%;
		width: 80%;
		height: 75%;
	}

	/* Text link style */
	#scrollUp {
		bottom: 20px;
		right: 20px;
		font-family: 'cabana';
		font-size: 25px;
		color: #E70025;
	}
	
	.principal-body-section{
		margin-top: 0;
	}
	
	.principal-body-historia{
		height: 100%;
		background-image:url('../images/historia.jpg');
		background-position: center 100%;
		background-size: 148% 55%; 
	}

	html,body{
		width: 100%;
		height: 100%;

	}

	.principal-body{
		height: 92%;
	}

	.institucional-container{
		padding-bottom: 100px;
	}

	.institucional-container > a{
		margin: 5px 0px 10px 0px;
	    text-align: center;
	    width: 190px;
	    height: 60px;
	}

	.btn-custom{
		font-size: 42px;
		padding: 0px;
		text-shadow:none;
	}

	.historia-aside {
	    height: 100%;
	    overflow: auto;
	    background-color: #f07d1d;
	    opacity: 0.85;
	}

	.historia-gallery{
		background-image: url("../images/historia/Foto1.jpg");
		background-position: center;
		height: 50%;
	}

	.historia-body{
		height: 100%;
		margin: 0px;
	}

	.historia-content{
		padding: 20px 0px;
		height: 50%;
	}

	.historia-next{
		bottom: 20%;
		right: 40%;
		position: absolute;
		width: 0; 
		height: 0; 
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-top: 30px solid #f07d1d;
		cursor: pointer;
	}

	.historia-back{
		color: #e70025;
	    font-family: 'cabana';
	    font-size: 50px;
	    position: absolute;
	   	bottom: 30px;
	    right: 20px
	}

}
