html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: hidden; 
}

.principal-bar{
	height: 5%;
}

.principal-body{
	margin-right: auto;
    margin-left: auto;
    height: 95%;
}

.principal-bar-container{
	height: 100%;
}

.principal-body-granos,.principal-body-precocidos,.principal-body-harinas{
	text-align: center;
    background-size: 100% 100%;
    max-width:100%;
	max-height:100%;
    height: 100%;
    padding-bottom: 100px;
}

.principal-body-granos{
	background-image:url('../images/granos.png');
}

.principal-body-precocidos{
	background-image:url('../images/precocidos.png');
	padding-left: 0px;
	padding-right: 0px;
}

.principal-body-precocidos > div:nth-child(2){
	margin-top: 20px;
	height: 100%;
}

.principal-body-harinas{
	background-image:url('../images/harinas.png');
}

.logo-container{
	height: auto;
	width: 100%;
}

img{
	display: inline-block;
	vertical-align: middle;
	max-height: 100%;
	max-width: 100%;
}

/*Bootstrap overrides*/
.row{
	height: 100%;
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width:768px) {
	.location-label{
		font-size: 20px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width:992px) {
	.location-label {
	    font-size: 21px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}