html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: hidden; 
}

.principal-body{
	padding: 0px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	height: 92%;
}

.principal-bar{
    height: 8%;
}

.principal-bar-container{
	height: 100%;
}

.row{
	height: 100%;
}

.principal-body> div:nth-child(1){
	height: 40%;
}

.principal-body> div:nth-child(2){
	height: 60%;
}

.principal-body-section{
	margin-top: 50px;
	
}

.principal-body-title{
	color: #e70025;
	font-family: 'awesome';
	font-size: 36px;
}

.principal-body-paragraph{
	font-size: 24px;
}

.principal-body-slider,.principal-body-section{
	padding: 0px;
	height: 100%;
}

img{
    left: 0px;
    width: 100%;
    max-width:100%;
	max-height:100%;
}

/*Floating container*/
.row-floating{

	position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 25%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(245,154,55,0.8);
	
}

.institucional-container{
	height: 60%;
	background-color: rgba(245,154,55,1);
	padding: 20px 80px 60px 80px;
}

.institucional-container> a{
	margin: 10px;
	text-align: center;
}
.btn-custom{
	padding: 20px;
}

