.principal-bar{
	background-color: #f07d1d;
	border: 0px;
	padding: 0px;
	height: 15%;
}

.language-container,.social-container,.location-container{
	height: 50%;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.location-container{
	background-color: #e70025;
}

.location-label{
	font-family: 'cabana';
	color: white;
	font-size: 25px;
	font-weight: bold;
	padding: 5px;
	margin: 0px;
	margin-right: 5px;
}

.location-input{
	background-color: #f5a56a;
	padding: 1px;
	margin: 0px;
}

.location-icon{
	color: white;
	font-size: 36px;
	margin-top: -5px;
}

.language-container > span{
	font-family: 'cabana';
	font-size: 24px;
	margin: 0px 5px 0px 5px;
	color: white;
	font-weight: 500;
}

.language-container > span:nth-child(1){
	margin-top: 10px;
}

.language-container > span:nth-child(2){
	color: #f5a56a;
}


@media only screen and (min-width : 768px){

	.principal-bar{
		height: 8%;
		padding: 20px 0px 25px 0px;
	}

	.language-container,.social-container,.location-container{
		height: 100%;
	}

	.location-container{
		background-color: #f07d1d;;
	}

	.a-custom{
		height: 40px;
		width: 40px;
		font-size: 32px;
	}

	.location-label{
		font-size: 35px;
		font-weight: normal;
	}
}