	
@media(max-width: 767px) {
	.principal-body-procesados{
		background-image:url('../images/procesados.png');
	}

	.logo-container{
		background-image:url('../images/logoPortada.png');
	}
	
}

@media(min-width: 768px){
	
	
	.principal-body-procesados{
		background-image:url('../images/precocido.png');
	}
	
	.principal-body-procesados-corner{
		background-image:url('../images/precocidos_banner.png');
	}

	
}

