	
@media(max-width: 767px) {
	.principal-body-procesados{
		background-image:url('../images/precocidos_banner.jpg');
		background-size: cover;
	}
	
}

@media(min-width: 768px){
	
	
	.principal-body-procesados{
		background-image:url('../images/precocido.jpg');
	}
	
	.principal-body-procesados-corner{
		background-image:url('../images/precocidos_banner.jpg');
	}

	
}

