html,body{
	width: 100%;
	height: 100%;
	overflow: visible;
    overflow-x: hidden; 
}

.principal-body{	
	position: relative;
	padding: 0px 0px;
	height: 82%;
}

.grano{
	position: fixed;
	z-index: 10;
	top: 75%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -75%); /* This is a shorthand of                                      translateX(-50%) and translateY(-50%) */
}

.step-one{
	position: relative;
	background-image:url('../images/proceso/FondoAmarillo1.png');
	padding:20px;
}

.step-one-title{
	height: 30%;
	/*margin-bottom: 350px;*/
	background-image:url('../images/proceso/Titular_mobil.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    z-index: 2;
}

.step-one-campesino{
	position: absolute;
	top: 15%;
    right: 20%;
	width: 100%;
	height: 70%;
    background-image:url('../images/proceso/campesino2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.65;
}

.step-one-legend{
	height: 50%;
	background-image: url("../images/proceso/frase1.png");
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 2;
}

.step-one-productos{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-image: url('../images/proceso/VerLista.png');
    height: 100%;
    top: 80%;
    left: 80%;
    cursor: pointer;
}


.step-two{
	position: relative;
	background-image:url('../images/proceso/FondoGrande2.png');
}

.step-two-background{
	position: absolute;
    background-color: #e31e2f;
    top: 0;
    left: 50%;
    width: 80%;
    height: 100%;
    transform: translate(-50%,0%);
}

.step-two-legend{
	position: relative;
	background-color: transparent;
	margin: 10px;
	text-align: center;
	background-image: url('../images/proceso/frase2.png');
	background-size: contain;
	background-repeat: no-repeat;
    height: 35%;
    background-position: center;
}

.step-two-machine{
	height: 65%;    
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/proceso/step_one_machine_mobil.png');
    background-position: center;
    /*transform: translate(-50%, 0%); This is a shorthand of  */
}

.step-three{
	position: relative;
	background-image:url('../images/proceso/FondoGrande3.png');
}

.step-four{
	position: relative;
	background-image:url('../images/proceso/fondo4.png');
}

.step-one{
	height: 100%;
	background-size: cover;
}

.step-two,.step-three,.step-four{
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-position: 50% 50%;
	height: 100%;
}


.step-three-legend{
	background-color: white;
	padding: 20px;
	text-align: center;
	background-image: url("../images/proceso/frase3.png");
	background-size: contain;
	background-repeat: no-repeat;
    height: 35%;
    width: 100%;
    background-position: center;
    margin: 10px;
}

.step-three-machine{
	height: 60%;
	background-image:url('../images/proceso/maquina.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    margin: 10px;
}


.step-four-legend{
	background-image: url("../images/proceso/frase4_mobil.jpg");
	background-size: contain;
	background-repeat: no-repeat;
    height: 30%;
    background-position: center;
    margin: 5px 0px;
}

.step-four-machine{
	height: 65%;
	background-image:url('../images/proceso/maquina2.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
}

.step-four-footer{
	height: 10%;
	background-color: #e31e2f;
	text-align: center;
}

.step-four-footer>a{
	text-decoration: none;
	color: white;
	font-family: 'cabana';
	font-size: 36px;
	font-weight: 600;
}

.step-four-footer>a:hover{
	text-decoration: none;
	color: white;
}

.step-five-legend{
	background-image: url("../images/proceso/frase5.png");
	background-size: contain;
	background-repeat: no-repeat;
    height: 25%;
    background-position: center;
}


.grano_one,.grano_two,.grano_three,.grano_five{
	position: absolute;
	z-index: 10;
	transition-property: transform;
    animation-direction: alternate;   
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    transform: rotate(-40deg);
}

.grano_four,.grano_six{
	position: absolute;
	z-index: 10;
	transition-property: transform;
    animation-direction: alternate;   
    animation-name: rotate_inverse; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    transform: rotate(-40deg);
}

.grano_one{
	top: 20%;  /* position the top  edge of the element at the middle of the parent */
    left: 65%; /* position the left edge of the element at the middle of the parent */
}

@keyframes rotate {
    0%   {transform: rotate(0deg);}
    10%  {transform: rotate(10deg);}
    20%  {transform: rotate(20deg);}
    30%  {transform: rotate(30deg);}
    35%  {transform: rotate(40deg);}
    40%  {transform: rotate(45deg);}
    50% {transform: rotate(50deg);}
    60%  {transform: rotate(60deg);}
    70%  {transform: rotate(65deg);}
    80%  {transform: rotate(70deg);}
    90%  {transform: rotate(80deg);}
    100% {transform: rotate(90deg);}
}

@keyframes rotate_inverse {
    0%   {transform: rotate(90deg);}
    10%  {transform: rotate(80deg);}
    20%  {transform: rotate(70deg);}
    30%  {transform: rotate(65deg);}
    35%  {transform: rotate(60deg);}
    40%  {transform: rotate(50deg);}
    50% {transform: rotate(45deg);}
    60%  {transform: rotate(40deg);}
    70%  {transform: rotate(30deg);}
    80%  {transform: rotate(20deg);}
    90%  {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
}

@media only screen and (min-width : 1012px){

	.principal-body{	
		position: relative;
		padding: 0px 0px;
		height: 92%;
	}


	.grano{
		position: fixed;
		z-index: 10;
		top: 50%;  /* position the top  edge of the element at the middle of the parent */
	    left: 50%; /* position the left edge of the element at the middle of the parent */
	    transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
	}

	.grano_one{
		top: 10%;
		left: 70%;
	}
	
	.grano_two{
		top: 15%;
	    left: 60%;
	}

	.grano_three{
		top: 15%;
	    left: 25%;
	}

	.grano_four{
		top: 15%;
	    left: 40%;
	}

	.grano_five{
		top: 45%;
		left: 30%;
	}

	.grano_six{
		top: 35%;
		left: 60%;
	}

	.step-one-title{
		height: 20%;
		width: 50%;
		margin-bottom: 350px;
		background-image:url('../images/proceso/Titular.png');
		background-repeat: no-repeat;
	    background-position: center;
	    background-size: contain;
	}

	.step-one-campesino{
		top: 5%;
		right: 30%;
		height: 90%;
	}

	.step-two-machine{
		height: 100%;
		background-image: url('../images/proceso/step_one_machine.png');
		background-position: center;
	}

	.step-three-machine{
		height: 100%;
	}

	.step-four-machine{
		height: 100%;
	}

	.step-two,.step-three,.step-four{
		display: flex;
		flex-direction: row;
	}

	.step-four{
		flex-wrap:wrap;
		align-items:center;
		align-self: flex-end;
	}

	.step-four-legend{
		align-self: flex-start;
		background-image: url("../images/proceso/frase4.png");
		margin-top: 25px;
	}

	.step-five-legend{
		align-self: flex-end;
		    margin-bottom: 25px;
	}

}



/*
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}*/