html,body{
	width: 100%;
	height: 100%;
	overflow: visible;
    overflow-x: hidden; 
}

.principal-body{	
	position: relative;
	padding: 0px 0px;
	height: 100%;
}

.grano{
	position: fixed;
	z-index: 10;
	top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); /* This is a shorthand of                                      translateX(-50%) and translateY(-50%) */
}

.step-one{
	position: relative;
	background-image:url('../images/proceso/FondoAmarillo1.png');

}

.step-two{
	position: relative;
	background-image:url('../images/proceso/FondoGrande2.png');
}

.step-three{
	position: relative;
	background-image:url('../images/proceso/FondoGrande3.png');
}

.step-four{
	position: relative;
	background-image:url('../images/proceso/fondo4.png');
}

.step-one{
	height: 92%;
	background-size: cover;
}

.step-two,.step-three,.step-four{
	background-size: cover;
	background-position: 50% 50%;
	height: 100%;
}

.step-one-legend{
	background-color: #f4891f;
	color: white;
	font-family: 'cabana';
	font-size: 36px;
	font-weight: 600;
	padding: 20px;
	text-align: center;
	margin-bottom: 50px;
	background-image: url("../images/proceso/Texto1.png");
	background-size: contain;
	background-repeat: no-repeat;
    height: 25%;
    background-position: center;
}

.step-one-productos{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-image: url('../images/proceso/VerLista.png');
    height: 100%;
    top: 80%;
    left: 80%;
    cursor: pointer;
}

.step-two-legend{
	position: relative;
	background-color: #faf7b4;
	color: #e61d2f;
	font-family: 'cabana';
	font-size: 36px;
	font-weight: 600;
	padding: 20px;
	text-align: center;
	background-image: url('../images/proceso/Texto2.png');
	background-size: contain;
	background-repeat: no-repeat;
    height: 25%;
    background-position: center;

}

.step-one-campesino{
	position: absolute;
	top: 0;
	right: 30%;
	width: 100%;
	height: 100%;
    background-image:url('../images/proceso/campesino2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.65;
}

.step-two-machine{
	position: absolute;
	top: 0;
	left: 50%;
	width: 25%;
	height: 100%;
    background-color: #e31e2f;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../images/proceso/ColorRojoCentral2.png');
    transform: translate(-50%, 0%); /* This is a shorthand of  */
}

.step-three-legend{
	background-color: white;
	color: #f08233;
	font-family: 'cabana';
	font-size: 36px;
	font-weight: 600;
	padding: 20px;
	text-align: center;
	margin-bottom: 200px;
	margin-right: 0px;
	margin-left: 0px;
	background-image: url("../images/proceso/texto3.png");
	background-size: contain;
	background-repeat: no-repeat;
    height: 25%;
    background-position: center;
}

.step-three-machine{
	position: absolute;
	top: 0;
	left: 0;
	height: 90%;
	background-image:url('../images/proceso/maquina.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
}

.step-four-legend{
	background-color: #f18221;
	color: white;
	font-family: 'cabana';
	font-size: 36px;
	font-weight: 600;
	padding: 20px;
	text-align: center;
	margin-top: 60px;
	margin-left: 40px;
	background-image: url("../images/proceso/texto4.png");
	background-size: contain;
	background-repeat: no-repeat;
    height: 25%;
    background-position: center;
}

.step-four-machine{
	position: absolute;
	top: 0;
	left: 0;
	height: 90%;
	background-image:url('../images/proceso/maquina2.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
}

.step-four-footer{
	position: absolute;
	width: 100%;
	bottom: 0;
    left: 0;
	height: 10%;
	padding-top: 10px;
	background-color: #e31e2f;
	
	
	text-align: center;
	vertical-align: center;
}

.step-four-footer>a{
	text-decoration: none;
	color: white;
	font-family: 'cabana';
	font-size: 36px;
	font-weight: 600;
}

.step-four-footer>a:hover{
	text-decoration: none;
	color: white;
}

.grano_one,.grano_two,.grano_three,.grano_five{
	position: absolute;
	z-index: 10;
	transition-property: transform;
    animation-direction: alternate;   
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    transform: rotate(-40deg);
}

.grano_four,.grano_six{
	position: absolute;
	z-index: 10;
	transition-property: transform;
    animation-direction: alternate;   
    animation-name: rotate_inverse; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    transform: rotate(-40deg);
}

.grano_one{
	top: 25%;  /* position the top  edge of the element at the middle of the parent */
    left: 75%; /* position the left edge of the element at the middle of the parent */
}

.grano_two{
	top: 5%;
    left: 60%;
}

.grano_three{
	top: 10%;
    left: 25%;
}

.grano_four{
	top: 15%;
    left: 40%;
}

.grano_five{
	top: 45%;
	left: 30%;
}

.grano_six{
	top: 35%;
	left: 60%;
}

@keyframes rotate {
    0%   {transform: rotate(0deg);}
    10%  {transform: rotate(10deg);}
    20%  {transform: rotate(20deg);}
    30%  {transform: rotate(30deg);}
    35%  {transform: rotate(40deg);}
    40%  {transform: rotate(45deg);}
    50% {transform: rotate(50deg);}
    60%  {transform: rotate(60deg);}
    70%  {transform: rotate(65deg);}
    80%  {transform: rotate(70deg);}
    90%  {transform: rotate(80deg);}
    100% {transform: rotate(90deg);}
}

@keyframes rotate_inverse {
    0%   {transform: rotate(90deg);}
    10%  {transform: rotate(80deg);}
    20%  {transform: rotate(70deg);}
    30%  {transform: rotate(65deg);}
    35%  {transform: rotate(60deg);}
    40%  {transform: rotate(50deg);}
    50% {transform: rotate(45deg);}
    60%  {transform: rotate(40deg);}
    70%  {transform: rotate(30deg);}
    80%  {transform: rotate(20deg);}
    90%  {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
}

/*
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}*/