@font-face{
	font-family: 'awesome';
	src:url('../fonts/Awesome Free Font.ttf');
}

@font-face{
	font-family: 'cabana';
	src:url('../fonts/Cabana-Regular.otf');
}


@font-face{
	font-family: 'Malbeck-Regular';
	src:url('../fonts/Malbeck-Regular.ttf');
}
