@media(max-width: 767px) {

	.principal-body-procesados{
		background-image:url('../images/harinas.jpg');
		background-position: center 140px;
		background-size: cover;
	}

	#title_free{
		margin: 0 0 0 10px;
		font-family: 'Malbeck-Regular';
		color: #e70025;
		font-size: 55px;
	}

}

@media(min-width: 768px){

	.principal-body-procesados-corner {
    	background-image: url('../images/harina.jpg');
	}
	
	.principal-body-procesados-corner-free{
		background-image:url('../images/harinas.jpg');
		background-position: center;
		height: 100%;
		background-size: 100% 130%; 
	}

	.principal-body-procesados{
		background-image:url('../images/harina.jpg');
	}
	
	#harina-free{
		font-size: 36px;
		line-height: 20px;
	}

}

@media(min-width: 768px) and (max-width: 1200px) {
	#harina-free{
		font-size: 26px;
	}
}
